<%-include ('../../partials/header.ejs'); %>
<%-include ('../../partials/navbar.ejs'); %>
<body>
    <div class="container">
        <h2>Usuários</h2>
        <a href="/admin/users/create" class="btn btn-success">Cadastrar Usuário</a>
        <hr>
        <table class="table table-bordered">
            <theard>
                <tr>
                    <td>Id</td>
                    <td>E-mail</td>
                    <td>Ações</td>
                </tr>
            </theard>
            <tbody>
                <% users.forEach( users =>{ %>
                    <tr>
                        <td> <%= users.id %> </td>
                        <td> <%= users.email %> </td>
                        <td>
                            <a href="/admin/users/edit/<%= users.id %>" class="btn btn-warning">Editar</a>
                            <input type="text" name="id" value="<%= users.id %>" hidden>
                            <form action="/admin/users/delete" method="POST" style="display: inline;"
                            onsubmit="confirmarDelecao(event, this)">
                                <input type="text" name="id" value="<%= users.id %>" hidden>
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</body>
<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você quer deletar este usuário?");
        if (decision) {
            form.submit();
        }
    }
</script>

<%-include ('../../partials/footer.ejs'); %>